@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

* {
    margin: 0px;
    padding: 0px;
  /* overflow: hidden; */
  /* font-family: 'PT Sans Narrow', sans-serif; */
  }
  body
  {
    background-color: #f4f4f4;
  }
  /* navigation style */
nav {
    display: flex;
    height:6.25rem;
  }
  .logo {
    margin-left: 1.875rem;
    margin-top: 2.188rem;
  }
  .nav-items {
    margin-left: 50rem;
    margin-top: 3.125rem;
  }
  .nav-item {
    padding: 1.875rem;
    color: gray;
    font-size: 1.25rem;
    font-weight: 600;
  }
  .nav-item:hover
  {
    color: #000;
  }
  .mainImg
  {
    display: flex;
    position: absolute;
    left: -3.125rem;
    height: 100%;
    z-index: -1;
  }
  .line
  {
    width:21.875rem;
    height: 2.938rem;
    border-bottom: 0.125rem solid black;
    position: absolute;
    top: 0.938rem;
    left: 600px;
  }

  /* styling top */
  .top
  {
    display: flex;
    margin-left: 31.25rem;
    justify-content: space-around;
    height: 21.563rem;
    /* border: 2px solid black; */
  }
/* top left styling */
.topleft
{
  font-size: 4.375rem;
}
  .topleft :first-child
  {
    
    -webkit-text-stroke: 0.063rem black;
    color: white;
  }
  .topleft :last-child
  {
 margin-left: 3.75rem;
 margin-top: -1.438rem;
  }
  /* top middle styling */
  .topmiddle
  {
    margin-top: 12.5rem;
    margin-left: -1.875rem;
    font-size: 1.5rem;
    font-weight: 200;
    color: gray;
  }
  .topmiddle p
  {
    padding-bottom: 2.5rem;
    padding-left: 1.25rem;
  font-size: 1.563rem;
  }
  .topmiddle button
  {
      background-color: rgb(72, 72, 72);
      color: #fff;
      text-align: center;
      font-size: 1.25rem;
      width: 21.875rem;
      height: 2.813rem;
      border: none;
      margin-left: 1.25rem;
      margin-top: -0.938rem;
  }
  /* top right styling */
  .topright
  {
   display: flex;
   flex-direction: column;

  }
  .topright img
  {
    padding: 1.875rem;
    height: 1.125rem;
  }

  /* styling bottom */
  .bottom
  {
    display: flex;
    margin-left: 26.563rem;
    margin-top: -1.563rem;
    justify-content: space-around;
    height: 25rem;
    /* border: 2px solid black; */
  }
  .bottomleft
  {
    margin-top: 3.125rem;
    margin-left: 3.125rem;
  }
  .btmline
  {
    height:14.375rem;
    width: 0.125rem;
    background-color: gray;
    margin-top: -12.5rem;
  margin-left: 1.25rem;
  }
  .list
  {
 margin: 0.313rem;
 padding: 0.625rem;
 list-style: none;
  }
  .list li::before
{
  content: "";
    display: inline-block;
    position: relative;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 50%;
    margin-right: 0.625rem;
    background-color: gray;
    top:0.25rem;
}
.list :first-child::before
{
  background-color: #000;
}
  .list-item
  {
    font-size: 1.25rem;
    padding: 0.75rem;
    color: gray;
  }
  .active
  {
    color: black;
  }
  .bottommiddle
  {
    margin-left: -12.5rem;
  }
  .bottommiddle h1
  {
    font-size: 4.063rem;
    font-weight: 900;
    padding: 0.625rem;
  }
  .bottommiddle p
  {
font-size: 1.25rem;
padding: 0.625rem;
  }
  .bottommiddle img
  {
    width: 100%;
    height: 50%;
    padding: 0.625rem;
  }
 
  /* styling bottom right */
  .bottomright
  {
    margin-left: -12.5rem;
    margin-top: 9.375rem;
    
  }
  